# My stuff
.DS_Store
.vscode
node_modules

# The log in json stuff that I keep changing a lot, so I'm not including them.
sign-in.json
customer.json
user.json

# My redis dumps, which don't need to be included.
*.rdb

# Keeping keys secret is good idea I think...
SSL
